<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        font-size: 12px;
        background-color: #0f1f34;
        color: white;
        font-family: "Inter V", sans-serif;
        font-weight: 900;
        margin: 0;
      }

      html,
      body {
        width: 100%;
        height: 100%;
      }

      noscript,
      ._noscript {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 1.6em;
      }
    </style>
  </head>
  <body>
    <noscript
      ><div class="_noscript">
        We're sorry, this Dyson Sphere Program Perfect Calculator requires
        Javascript enabled.
      </div></noscript
    >
    <div id="app"></div>
  </body>
</html>
