<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8" />
	<title><%= htmlWebpackPlugin.options.title %></title>
<style>
	body {
		font-size: 12px;
}

.recipe {
	display: grid;
	padding: 8px;
	grid-template-columns: 3fr 1fr 11fr;
}

.time {
	display: grid;
	justify-content: center;
	background: cyan;
	padding: 8px;
}

.time-amount {
	align-self: flex-end;
}

.result {
	display: grid;
	grid-template-columns: 1em 1.5em auto;
	grid-gap: 8px;
}

.results {
	background: red;
	padding: 8px;
}

.requirement {
}

.requirements {
	padding: 8px;
	background-color: #7400ff1a;
	margin: 8px;
}

.producers {
	padding: 8px;
	background-color: #0080623d;
}

.producers summary {
	cursor: pointer;
	padding: 8px;
}
</style>
</head>
<body>
	<div id="app"></div>
</body>
</html>
